
.contentContainer{
    border: black solid 1px;
    background-color: #6B8ED4;
}

.pfp-square {
    box-sizing: border-box;
    position: absolute;
    width: 260px;
    height: 260px;
    left: 120px;
    top: 79px;
    border-radius: 10px;
    background: transparent;
    border: 1px solid transparent;
    padding: 20px;
    
    background: linear-gradient(180deg, #6B8ED4, #5E3E9F) border-box;
    
    -webkit-mask:
        linear-gradient(#000000 0 0) padding-box,
        linear-gradient(#000000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.pfp-description{
    box-sizing: border-box;
    position: absolute;
    width: 882px;
    height: 271px;
    left: 438px;
    top: 79px;
    border-radius: 10px;
    border: black solid 1px;
}

.pfp-sliders-under{
    box-sizing: border-box;
    position: absolute;
    width: 260px;
    height: 229px;
    left: 120px;
    top: 428px;
    border-radius: 10px;
    border: black solid 1px;
}

.pfp-calendar{
    box-sizing: border-box;

    position: absolute;
    width: 882px;
    height: 315px;
    left: 438px;
    top: 428px;

    border-radius: 10px;
    border: black solid 1px;

}

.info-card1{
    box-sizing: border-box;

    position: absolute;
    width: 260px;
    height: 320px;
    left: 213px;
    top: 879px;

    border-radius: 10px;
    border: black solid 1px;
    background-color: #5E3E9F;

}

.info-card2{
    box-sizing: border-box;

    position: absolute;
    width: 260px;
    height: 320px;
    left: 590px;
    top: 879px;

    border-radius: 10px;
    border: black solid 1px;
    background-color: #5E3E9F;

}

.info-card3{
    box-sizing: border-box;

    position: absolute;
    width: 260px;
    height: 320px;
    left: 972px;
    top: 879px;

    border-radius: 10px;
    border: black solid 1px;
    background-color: #5E3E9F;

}


.contfor-table{
    box-sizing: border-box;

    position: absolute;
    width: 1084px;
    height: 627px;
    left: 178px;
    top: 1389px;

    border-radius: 10px;
    border: black solid 1px;
    background-color: #5E3E9F;
}


